
.maincard {
  min-height: 70vh;
}

.insidecard {
  box-shadow: initial;
  background-color: #50c878;
  color: white;
}

.subtodo-title {
  font-size: 15px !important;
  font-weight: normal !important;
  line-height: 15px !important;
}

.add-todo {
  background-color:  #50c878;
}

.addsubtodo {
  width: 100%;
  box-shadow: initial;
  font-size: 13px;
}

.card-content {
  padding: 11px !important;
}

.progress {
  height: 20px;
  background-color: #ccc;
}

.determinate {
  background-color: #f50057 !important;
}

.dividerCard {
  margin-top: 15px;
  margin-bottom: 15px;
}
