.tabs-transparent {
  visibility: hidden;
}

.nav-wrapper {
  height: 7.3vh !important;
}

.add-project {
  background-color:  #50c878;
}

.card-link {
  color: rgba(0,0,0,0.87);
}


.container-top-bar {
  width: 100%;
}

.progress {
  height: 15px;
}

.card {
  min-height: 500px !important;
  position: relative;
}

.delete-button {
  position: absolute;
  bottom: 30px;
  box-shadow: initial !important;
  width: calc(100% - 40px);
}
