.tabs-transparent {
  visibility: hidden;
}

.nav-wrapper {
  height: 7.3vh !important;
}

.add-project {
  background-color: #c85064;
}

.add-project:hover {
  background-color: #c85064;
}

.card-link {
  color: rgba(0,0,0,0.87);
}

.card-title {
  line-height: 25px !important;
}


.container-top-bar {
  width: 100%;
}

.progress {
  height: 15px;
}

.card {
  position: relative;
  min-height: 500px;
}

.delete-button {
  position: absolute;
  bottom: 30px;
  box-shadow: initial !important;
  width: calc(100% - 40px);
}

.preloader-wrapper {
  margin-top: 35vh;
}


.progress {
  height: 20px;
  background-color: #ccc;
}

.determinate {
  background-color: #f50057 !important;
}
