/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

nav {
  background-color:  #50c878;
}

nav a .active {
  border-bottom: 1px solid white;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: #fafafa;
}

.img-sidebar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

header {
  padding-left: 300px;
}

header h2 {
  padding-left: 30px;
}

main, footer {
  padding-left: 330px;
}

.top-nav {
  height: 100px;
  box-shadow: initial;
}

.top-nav h2 {
  margin-top: 0px !important;
  padding-top: 20px;
}

@media only screen and (max-width : 992px) {
 header, main, footer {
   padding-left: 0;
 }
}
