<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Prosjekt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" href="app.css">

  </head>
  <header class="ng-hide" ng-hide="hideit">
    <nav class="top-nav">
        <div class="container-top-bar">
          <div class="nav-wrapper">
            <h2 class="page-title">{{currentRoute.name}}</h2>
          </div>
        </div>
    </nav>
  </header>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <script src="script.js"></script>

    <ul id="slide-out" class="side-nav fixed ng-hide" ng-hide="hideit">
        <li><div class="userView">
          <img class="img-sidebar" src="img/logo-sidebar.png">
        </div></li>
        <li><a href="#"><i class="material-icons">person_pin</i>Sébastien Lapaire</a></li>
        <li><a href="#/userprofile"><i class="material-icons">email</i>{{userEmail}}</a></li>
        <li><a href="#" ng-click="SignOut($event)"><i class="material-icons">label</i>Se déconnecter</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class="material-icons">settings</i>Paramètres</a></li>
        <li><a href="#/projects">Mes projets</a></li>
        <li><a href="#">Paramètres de compte</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader"><i class="material-icons">work</i>Vos projets</a></li>
        <ul class="collapsible" data-collapsible="accordion">
            <li ng-repeat="project in projects">
              <div class="collapsible-header waves-effect white-text"><a href="#/todo?projectID={{project.$id}}" class="quick-project-menu">{{project.projetNom}}</a></div>
            </li>
        </ul>
    </ul>
    <main>
      <div ng-view></div>
    </main>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="app.js"></script>
    <script src="projects/projects.js"></script>
    <script src="todo/todo.js"></script>
    <script src="login/login.js"></script>
    <script src="addProject/addProject.js"></script>
    <script src="addTodo/addTodo.js"></script>
    <script src="singletodo/singletodo.js"></script>
    <script src="addSubTodo/addSubTodo.js"></script>
    <script src="reset/reset.js"></script>
    <script src="signup/signup.js"></script>
    <script src="userprofile/userprofile.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
    <script src="app/bower_components/moment/moment.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-messaging.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCUXqWjNke7q57mx_PZb0YInZbfN-fs5K0",
        authDomain: "prosjekt-12423.firebaseapp.com",
        databaseURL: "https://prosjekt-12423.firebaseio.com",
        storageBucket: "prosjekt-12423.appspot.com",
        messagingSenderId: "1020673117185"
      };
      firebase.initializeApp(config);
    </script>
  </body>
</html>
