.login-button {
  background-color: #50c878 !important;
}

.container {
  margin-top: 7vh !important;
  width: 32% !important;
}


.logoContainer img {
  width: 3%;
}

.logoContainer h2 {
  color: #50c878;
  font-family: 'Roboto', sans-serif !important;
}
