<html>
  <head>
    <link rel="stylesheet" href="addTodo/addTodo.css">
  </head>
  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
      margin-top: 1vw;
      padding-left: 11vh;
    }

    label {
      text-align: left;
    }

    h5 {
      font-weight: bold;
    }

    
  </style>
  <body>
    <div class="section"></div>
    <main>
      <center>
        <div class="container">
          <div class="z-depth-1 white row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE; width: 63%;">

            <h5 class=" black-text">Ajouter une tâche principale</h5>
            <form class="col s12" method="post">
              <div class='row'>
                <div class='col s12'>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <input class='validate' type='text' name='name' id='name' ng-model="project.name" />
                  <label for='name'>Nom de la tâche</label>
                </div>
              </div>

              <div class='row'>
                <div class='input-field col s12'>
                  <textarea id="textarea1" class="materialize-textarea" ng-model="project.description"></textarea>
                  <label for="textarea1">Description de la tâche</label>
                </div>
              </div>

              <div class="row">
                <div class='input-field col s12 m6 l6'>
                  <input type="date" id="datedebut" ng-model="project.dateDebut">
                </div>
                <div class='input-field col s12 m6 l6'>
                  <input type="date" id="datefin" ng-model="project.dateFin">
                </div>
              </div>

              <br />
              <center>
                <div class='row'>
                  <button type="button" name='btn_login' class='col s12 btn btn-large waves-effect' id="add-project-button" ng-click="addTodo($event)">Ajouter</button>
                </div>
              </center>
            </form>
          </div>
        </div>
      </center>

      <div class="section"></div>
      <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  </body>

</html>
