main {
  
}

.maincard {
  min-height: 70vh;
}

.insidecard {
  box-shadow: initial;
  background-color: #50c878;
  color: white;
}
.subtodo-title {
  font-size: 1.1em !important;
  line-height: 15px !important;
}

.add-todo {
  background-color:  #50c878;
}

.addsubtodo {
  width: 100%;
}
