main {

}

.maincard {
  min-height: 70vh;
}

.insidecard {
  box-shadow: initial;
  background-color: #50c878;
  color: white;
}
.subtodo-title {
  font-size: 15px !important;
  font-weight: normal !important;
  line-height: 15px !important;
}

.add-todo {
  background-color: #c85064;
}


.addsubtodo {
  width: 100%;
  box-shadow: initial;
  font-size: 13px;
  background-color: #c85064;
}

.addsubtodo:hover, .add-todo:hover {
  background-color: #c85064!important;
}

.card-fixed-height {
  max-height: 700px;
  min-height: 700px;
  overflow: hidden;
  overflow-y: visible;
}

.card-content {
  padding: 11px !important;
}

.linkToSingleTodo {
  color: black;
}

.linkToSingleSubTodo {
  color: white;
}

.determinate {
  background-color: #50c878 !important;
}

.progress {
  height: 20px;
  background-color: #ccc;
}

.progress .redBar {
  background-color: #E53935  !important;
}

.progress .orangeBar {
  background-color: #e65100  !important;
}


label {
  color: white !important;
}

.isover-opacity {
  opacity: 0.7;
}
